# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.*
!.env.example

# Testing
.pytest_cache/
.coverage
htmlcov/
test_input.mp3
test_audio.mp3

# IDE
.vscode/
.idea/

# Vector DB
chroma_db/

# DevOps & Infrastructure
jiaa-infra-ops/
k8s/
Jenkinsfile
