apiVersion: v1
kind: Service
metadata:
  name: jiaa-server-ai
  namespace: jiaa
spec:
  type: ClusterIP
  selector:
    app: jiaa-server-ai
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
    - name: grpc
      protocol: TCP
      port: 50051
      targetPort: 50051
